:root {
  /* Background & Font Colors */
  --bg-color: #0f172a;
  --font-color: #0f172a;
  --font-color-2: #f0f7fe;

  /* Card Background Colors */
  --cards-bg-1: #9cccf4;
  --cards-bg-2: #4b90e6;
  --cards-gradient-1: linear-gradient(to bottom, #9cccf4, #c4e0f9, #9cccf4);
  --cards-gradient-2: linear-gradient(to bottom, #4b90e6, #6dafed, #4b90e6);

  /* Button Colors */
  --btn-light-1: #c4e0f9;
  --btn-light-2: #6dafed;
  --btn-gradient-1: linear-gradient(135deg, #2d60c8, #2a4fa3);
  --btn-gradient-2: linear-gradient(45deg, #2a4fa3, #274481);
  --btn-light-1: #4b90e6;
  --btn-light-2: #3674da;

  /* Border Colors */
  --border-1: #0f172a;
  --border-2: #274481;
  --border-3: #3674da;
  --border-4: #4b90e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Urbanist", "Poppins", sans-serif;
}

body,
html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-size: 62.5%;
  background-color: var(--bg-color);
  color: var(--font-color-2);
}

.container {
  width: 90%;
  max-width: 110rem; 
  margin: 0 auto;
}


/* header section  */
.navbar{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--font-color-2);
  padding: .6rem .2rem;
}

.navbar-logo{
  font-style: italic;
  font-size: 2rem;
  padding: 0.4rem;
}

.hamburger{
  display: none;
  margin: 0.2rem;
  color: var(--font-color-2);
  background-color: transparent;
  border: none;
  font-size: 2rem;
  padding: 0.3rem;
}

.nav-big-screen{
  display: flex;
}

.nav-ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.nav-li{
  list-style-type: none;
}

.nav-li a{
  text-decoration: none;
  color: var(--font-color-2);
  font-size: clamp(1.5rem,2vw,2rem);
  padding: 0.4rem;
}

.nav-small-screen{
  position: absolute;
  z-index: 10;
  top: 30px;
  background-color: black;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  width: 90%;
  

  & .nav-ul{
    flex-direction: column;
    padding: 2rem;
    gap: 20px;
  }
}

/* Home section  */
.home-page{
  padding: 1rem;
}

.home-hero-grid{
  height: 70vh;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(50%,1fr));
}

.home-hero-left{
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-hero-left h2{
  font-size: clamp(2.5rem,3vw,3rem);
  margin-bottom: 1rem;
}

.home-hero-left .p-1,
.home-hero-left .p-2{
  margin-bottom: 0.5rem;
  font-size: clamp(1rem,2vw,1.5rem);
}

.btn{
  margin: 1rem;
  font-size: clamp(1.2rem,2vw,1.5rem);
  background: var(--btn-gradient-1);
  border: 2px solid var(--border-2);
  color: var(--font-color-2);
  padding: clamp(0.5rem,0.5vw,1rem);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: linear-gradient(135deg, #2a4fa3, #2d60c8);
  box-shadow: 0 4px 10px rgba(39, 68, 129, 0.5);
}

.home-hero-right{
  display: flex;
  justify-content: center;
  
}
.home-hero-right img{
  width: 70%;
}


.home-facts .facts-heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(1rem,3vw,2rem);
  margin-bottom: 2rem;
}

.home-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 1rem;
}

.card {
  list-style-type: none;
  padding: 20px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}

.home-li h3{
  font-size: clamp(2rem,2vw,2.5rem);
  margin-bottom: 1rem;
}

.home-li p{
  font-size: clamp(1.2rem,1vw,1.3rem);
  margin-bottom: 0.2rem;
}

/* country section  */
.country-page{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
}

.searchbox{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.searchbox :where(input,select,button){
  padding: 0.3rem;
  font-size: clamp(1.5rem,2vw,1.6rem);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.searchbox :where(input,select,button):focus{
  outline: none;
}

.country-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 1rem;
}

.country-card .cards-navlink{
  color: var(--font-color-2);
  text-decoration: none;
}

.country-card figure{
  justify-self: center;
}

.country-card figure img{
  width: 100%;
}

.country-card h2{
  font-size: clamp(1.9rem,2vw,2rem);
  justify-self: center;
  margin: 0.5rem 0;
}

.country-card div{
  margin: 0.7rem;
}

.country-card div p{
  font-size: clamp(1.3rem,2vw,1.4rem);
  margin: 0.2rem 0;
}

.country-card button{
  font-size: clamp(1.2rem,2vw,1.5rem);
  display: flex;
  align-items: center;
  gap: 0.6rem;
  background-color: var(--btn-light-2);
  border: none;
  padding: 0.5rem;
  margin: 0.7rem;
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -ms-border-radius:20px;
  -o-border-radius:20px;
  -webkit-border-radius: 20px;
}

.country-pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-text{
  font-size: clamp(1.2rem,2vw,1.5rem);
}

/* contact page */
.contact-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 50px 20px;
}

.contact-container h2{
  font-size: clamp(1.5rem,2vw,2rem);
}

.form-wrapper {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form div{
  position: relative;
  background-color: black;
}

.form-label{
  font-size: clamp(1rem,2vw,1.5rem);
}

.form-input, .form-textarea {
  width: 100%;
  margin-bottom: 1.4rem;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 5px;
  outline: none;
}

.form-textarea {
  resize: none;
  height: 100px;
}

.form-button {
  padding: 10px;
  background: #007bff;
  width: 100%;
  font-size: clamp(1.5rem,2vw,1.7rem);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.form-button:hover {
  background: #0056b3;
}

/* country details page */
.country-details{
  padding: 2rem;
  margin-top: 2rem;
}

.details-grid{
  display: grid;
  grid-template-columns: 30% 40% 30%;
  gap: 1rem;
  padding: 0.5rem;
}

.grid-left,.grid-right{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.grid-center{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.grid-center h2{
  font-size: clamp(2rem,2vw,2.5rem);
  align-self: center;
}

.grid-center figure img{
  width: 90%;
}

.grid-right h3,
.grid-left h3{
  font-size: clamp(1.7rem,1.5vw,1.9rem);
  font-weight:900;
  text-decoration: underline;
}

.grid-right p,
.grid-left p{
  font-size: clamp(1.3rem,1vw,1.4rem);
}

.grid-right p img{
  width: 50px;
}

/* footer page */

.footer{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 1.5rem;
  padding: 1rem;
  margin-top: 2rem;
  border-top: 2px solid #ccc;
}

.footer-heading,
.footer-links li a{
  font-size: clamp(1.2rem,1vw,1.5rem);
}

.footer-p{
  font-size: 1rem;
  margin: 0 1rem;
}

.footer-links,
.footer-social-links{
  display: flex;
  gap: 2rem;
}

.footer-links li,
.footer-social-links li{
  list-style-type: none;
}

.footer-links li a,
.footer-social-links li a{
  color: var(--font-color-2);
  text-decoration: none;
}

.footer-social-links li a{
  font-size: 2rem;
}

.footer-copyright{
  display: flex;
  justify-content: center;
}

.footer-copyright p{
  font-size: 1.5rem;
}


.active{
  color: var(--font-color);
  text-decoration: underline;
}

/* about page */
.about-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
  color: var(--font-color-2);
}

.about-container h1 {
  font-size: 2rem;
}

.about-container h2 {
  font-size: 1.5rem;
  margin-top: 20px;
}

.about-container p {
  font-size: 1rem;
  line-height: 1.6;
}

.about-container ul {
  list-style: none;
  padding: 0;
}

.about-container li {
  font-size: 1rem;
  padding: 5px 0;
}


@media (width <= 1000px) {
  .hamburger{
    display: block;
  }
  .nav-big-screen{
    display: none;
  }
  .home-hero-grid{
    grid-template-columns: 1fr;
    height: 50vh;
  }
  .home-hero-left{
    order: 2;
  }
  .searchbox :where(select,button){
    font-size:1.3rem ;
  }
}

@media (width <= 700px) {
  .details-grid{
    grid-template-columns: 1fr;
  }
  .grid-center{
    order: 1;
  }
  .grid-left{
    order: 2;
  }
  .grid-right{
    order: 3;
  }
}